.show-movies {
  display: none;
}

.show-movies li{
  color: #0088cc;
}
.show-movies li:hover{
  text-decoration: underline;
}

.show-prices {
  display: none;
}

.show-times li {
  color: #0088cc;
}

.show-times li:hover{
  text-decoration: underline;
}
